{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>無名小站</title>
  <script src="{% static 'scripts/app.js' %}"></script>
  <link rel="stylesheet" href="{% static 'styles/app.css' %}">
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <nav class="bg-green-200 px-4 py-8 flex justify-between">
    <ul class="flex gap-4">
      <li><a href="{% url  'pages:home' %}">首頁</a></li>
    </ul>
    <ul class="flex gap-4">
      <li><a href="{% url  'sessions:new' %}">登入</a></li>
      <li><a href="{% url  'users:new' %}">註冊</a></li>
    </ul>
  </nav>

  <main class="container mx-auto py-8">
    {% include "shared/message.html" %}


    {% block content %}{% endblock %}
  </main>
</body>

</html>